*{
    margin: 0;
    overflow-y: hidden;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
#topBar{
    width: 100%;
    height: 100px;
    background-color: white;
    border: solid 2px grey;
}
#canvasContainer{
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#canvas{
    background-color: white;
    overflow: hidden;
}