*{
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
#canvasContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#gameCover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuBtn{
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 900;
    border: solid 2px grey;
    border-radius: 0.25rem;
    margin: 5px;
}
.menuBtn:hover{
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}
#levelMenu{
    background-color: whitesmoke;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.25rem;
}
#canvas{
    background-color: white;
    overflow: hidden;
}

.level{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    border: solid grey 2px;
    border-radius: 0.25rem;
    width: 300px;
    height: 400px;
    margin: 10px;
}
.levelImg{
    margin: 10px auto;
    background-color: aqua;
    height: 50%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.levelPlayBtn{
    margin: 5px auto;
    margin-left: 10px;
    padding: 2px 10px;
}
.levelMadeBy{
    margin: auto auto;
    margin-bottom: 10px;
    margin-left: 10px;
    bottom: 0;
}
.levelDescription{
    margin: 10px;
}